<div class="card">
  <div class="card-header">
    <a href="http://results.o2cm.com/event3.asp?event={{competition.competition.linkCode}}">{{competition.competition.name}}</a>

  </div>
  <div class="card-body">
    <div class="competition-event-container" *ngFor="let event of competition.dances">
      <competition-event
        [showPercentage]="showPercentage"
        (pointPresentation)="pointPresentation.emit()"
        [noPointReason]="noPointReason()"
        [dance]="event"></competition-event>
    </div>
  </div>
</div>
