.finalist{
  font-weight: bold;
}

.badge{
  vertical-align: text-bottom;
  font-size: 80%;
}

.clickable{
  cursor: pointer;
}

.clickable:hover{
  text-decoration: underline;
}

.partner{
  color: #212529;
}

.partner .io{
  color: #373b3f;
}
