<div [ngClass]="{'finalist' : dance.isFinal}"
     class="row border-{{color()}}">
  <div
    [ngClass]="[dance.isFinal? 'bg-'+color():'border-right-'+color()]"
    class="col-md-3 text-center">
    {{PointSkillTypes[dance.pointSkill]}}
  </div>
  <div class="col-md-2 text-center">
    {{StyleTypes[dance.style]}}
  </div>

  <div class="col text-center">
    <ng-container *ngFor="let d of dance.dances; let i=index">
      <ng-container *ngIf="i>0">/</ng-container>
      {{DanceTypes[d]}}
    </ng-container>
  </div>
  <ng-template #placementPop>
    Placement: <strong>{{dance.placement}}</strong> out of <strong>{{dance.coupleCount}}</strong> couples. <br/>
    This is in the top <strong>{{percent()}}%</strong>
  </ng-template>
  <div class="col-md-2 text-left clickable"
       (click)="pointPresentation.emit()" [tooltip]="placementPop" container="body">
    <mwl-gauge
      class="mwl-gauge-{{color()}} {{color()}}"
      [max]="100"
      [dialStartAngle]="-90"
      [dialEndAngle]="-90.001"

      [showValue]="false"
      [value]="percent()"
      [animated]="false">
    </mwl-gauge>
    <ng-container *ngIf="showPercentage">
      {{percent()}}%
    </ng-container>
    <ng-container *ngIf="!showPercentage">
      <strong>{{dance.placement}}</strong>/{{dance.coupleCount}}
    </ng-container>

  </div>
  <div class="col-md-1 text-right">
    <span class="badge bg-{{color()}}" title="points"
          *ngIf="dance.point>0">+{{dance.point}}</span>
  </div>
</div>
