<ng2-slim-loading-bar [color]="'#007bff'" [height]="'3px'"></ng2-slim-loading-bar>
<header [ngClass]="{'collapsed-menu': isCollapsed}">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark box-shadow">
    <a class="navbar-brand" href="#">Pretty O2CM</a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
            [attr.aria-expanded]="!isCollapsed" (click)="toggleCollapse()" [ngClass]="{'collapsed': isCollapsed}">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{'show': !isCollapsed}" class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#"
             [routerLink]="['/summary']"
             [queryParams]="  {firstName:dataService.data.value.dancerName.firstName,
        lastName:dataService.data.value.dancerName.lastName}">Summary</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#"
             [routerLink]="['/list']"
             [queryParams]="  {firstName:dataService.data.value.dancerName.firstName,
        lastName:dataService.data.value.dancerName.lastName}">List</a>
        </li>
      </ul>
    </div>

    <form [ngClass]="{'small-form': isCollapsed}" class="form-inline mt-2 mt-md-0" (ngSubmit)="load()">
      <input class="form-control mr-sm-2 col-4"
             type="text"
             name="firstName"
             id="firstName"
             placeholder="First name"
             aria-label="First name"
             required
             [value]="dataService.data.value.dancerName.firstName"
             (input)="firstName = $event.target.value">
      <input class="form-control mr-sm-2 col-4"
             type="text"
             name="lastName"
             id="lastName"
             placeholder="Last name"
             aria-label="Last name"
             required
             [value]="dataService.data.value.dancerName.lastName"
             (input)="lastName = $event.target.value">
      <button class="btn btn-outline-primary my-2 my-sm-0 col" type="submit">Show</button>
    </form>
  </nav>
</header>

<main role="main">

  <div class="container">
    <div class="row justify-content-center">
      <ng-container *ngIf="dataService.loading.value === null">
        <ng-container
          *ngIf="!(dataService.data.value.dancerName.lastName === '' && dataService.data.value.dancerName.firstName === '')">
          <ng-content></ng-content>
        </ng-container>
        <ng-container
          *ngIf="dataService.data.value.dancerName.lastName === '' && dataService.data.value.dancerName.firstName === ''">
          Type the name of a dancer to show it's results.
        </ng-container>
      </ng-container>
      <ng-container *ngIf="dataService.loading.value !== null">
        <app-loading-fame-component [loading]="dataService.loading.value"></app-loading-fame-component>
      </ng-container>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container text-sm-center">
    <small>*This <a href="https://github.com/bpatrik/pretty-o2cm"><img src="/assets/github-logo.png" height="13px">
      project</a> parses o2cm.com webpage and presents the data in a better format.
      Don't rely fully on this page for calculating your competition points.
    </small>
    <div class="float-right">
      <small><a href="https://github.com/bpatrik/pretty-o2cm">Author: Patrik J. Braun </a>
      </small>
    </div>
  </div>
</footer>
