header {
  margin-bottom: 50px;
}

ng2-slim-loading-bar {
  /* display: block; */
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  min-height: calc(100vh - 100px);
}
app-loading-fame-component{
  height: calc(100vh - 100px);
}
