<div class="row border-{{color()}} bg-light-{{color()}}">
  <ng-template #pointsPop>
    <div>
      <ng-container *ngIf="Rules.MaxPoints[eventSummary.pointSkill]">
        Max points: {{Rules.MaxPoints[eventSummary.pointSkill]}}.<br/>
      </ng-container>
      <ng-container *ngIf="eventSummary.points.details.length > 0">
        Points from: <br/>
        <ng-container *ngFor="let detail of eventSummary.points.details">
          {{PointSkillTypes[detail.pointSkill]}}: {{detail.points}}<br/>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>
  <div class="col-4 col-sm-6 col-md-2 text-center" [tooltip]="pointsPop" container="body"  style="white-space: nowrap">
    <a class="dark-link" [routerLink]="['/list']" [queryParams]="{danceFilter:danceType,
       styleFilter:styleType,
       isFinalsFilter:0,
       firstName:dataService.data.value.dancerName.firstName,
       lastName:dataService.data.value.dancerName.lastName}">{{eventSummary.points.overall}}
      <ng-container *ngIf="Rules.MaxPoints[(eventSummary.pointSkill)]">
        / {{Rules.MaxPoints[(eventSummary.pointSkill)]}}
      </ng-container>
    </a>
  </div>
  <div class="col-4 col-sm-6 col-md-3 bg-{{color()}} text-center text-white" title="skill level">
    <a class="bg-{{color()}}" [routerLink]="['/list']" [queryParams]="{skillFilter:eventSummary.pointSkill,firstName:dataService.data.value.dancerName.firstName,
        lastName:dataService.data.value.dancerName.lastName}">{{PointSkillTypes[eventSummary.pointSkill]}}</a>

  </div>
  <div class="col-4 col-sm-4 col-md-3 text-center" title="dance">
    <a class="dark-link" [routerLink]="['/list']" [queryParams]="{danceFilter:danceType,firstName:dataService.data.value.dancerName.firstName,
        lastName:dataService.data.value.dancerName.lastName}">{{DanceTypes[danceType]}}</a>
  </div>
  <ng-container *ngIf="Rules.Timeout[eventSummary.pointSkill]">
    <ng-template #timeoutPop>
      <div>
        <ng-container *ngIf="Rules.Timeout[eventSummary.pointSkill]">
          Event timeout it {{Rules.Timeout[eventSummary.pointSkill]/1000/60/60/24}} days.<br/>
        </ng-container>
        First competed at: <span style="white-space: nowrap">{{eventSummary.startTime | date:'mediumDate'}}</span><br/>
        Last competed at: <span style="white-space: nowrap">{{eventSummary.lastCompetition | date:'mediumDate'}}</span>
      </div>
    </ng-template>
    <div class="col-6  col-sm-4 col-md-3" [tooltip]="timeoutPop" container="body" style="white-space: nowrap">
      <span class="oi oi-timer"></span>
      <ng-container *ngIf="daysLeft(eventSummary) >= 0">
        {{daysLeft(eventSummary)}} days left
      </ng-container>
      <ng-container *ngIf="daysLeft(eventSummary) < 0">
        time out
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="!Rules.Timeout[eventSummary.pointSkill]">
    <div class=" col-6  col-sm-4 col-md-3">

    </div>
  </ng-container>

  <div class="col-6  col-sm-4 col-md-1 text-right" title="detailes" *ngIf="mainEntry">
    <button class="btn btn-default btn-sm  bg-{{color()}}" (click)="showSubEntries.emit()"><span
      class="oi oi-chevron-right"></span></button>
  </div>
  <ng-template #progressPop>
    <div>
      Progress: {{progress()}}% <br/>
      Based on points and/or timeout.
    </div>
  </ng-template>
  <div class="progress" [tooltip]="progressPop" container="body">
    <div class="progress-bar bg-{{color()}}"
         role="progressbar"
         [style.width.%]="progress()"
         aria-valuenow="progress(eventSummary)"
         aria-valuemin="0" aria-valuemax="100">
    </div>
  </div>
</div>

