<app-frame>
  <div class="col-md-12" *ngIf="showInfo">
    <div class="card">
      <div class="card-header">
        Info
        <button type="button" class="close float-right" aria-label="Close" (click)="setShowInfo(false)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        These dancers performed similarly to you on your competitions. <br/>
        <div class="text-center">
          Legend:
          <span class="oi oi-chevron-top text-warning"></span> - Better dancers;
          <span class="oi oi-minus text-primary"></span> - Like you;
          <span class="oi oi-chevron-bottom text-success"> </span> - Weaker dancers.
        </div>
        <div class="text-center">
          <button class="btn btn-link" (click)="showExtendedInfo=true" *ngIf="!showExtendedInfo">Read more... <br/>
            <span class="oi oi-chevron-bottom"></span></button>

        </div>
        <div *ngIf="showExtendedInfo" style="margin-top: 10px">
          The page creates a personalized ranking based on yor performance, comparing to other dancers you have competed
          with.
          Your scores are always 0, if someone performs better than you at a given event, gets positive score, if worst
          negative score.
          The scores are weighted with the time passed since that competition.
          The page also maintains an accuracy score to each dancer.
          Accuracy score is lower if you haven't competed with the given dancer since a while.
          Dancers with the lowest accuracy score are filtered out.
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div
        [ngClass]="{'bg-primary text-white' : groupByFilter!=-1 || roleFilter!=RoleType.Mixed || dateStartFilter!=0 || dateEndFilter!=now}"
        class="card-header">
        Filters
        <button class="btn btn-light float-right" style="margin: -7px;" (click)="setShowInfo(!showInfo)"><span
          class="oi oi-info"></span></button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <select [ngClass]="{'bg-primary text-white' : groupByFilter!=-1}"
                    class="form-control" id="groupByFilter" [(ngModel)]="groupByFilter">
              <option value="-1">Group by</option>
              <option value="0">By style</option>
              <option value="1">By dance</option>
            </select>
          </div>
          <div class="col-md-3">
            <select [ngClass]="{'bg-primary text-white' : roleFilter!=RoleType.Mixed}"
                    class="form-control" id="roleFilter" [(ngModel)]="roleFilter">
              <option [value]="RoleType.Mixed">All roles</option>
              <option [value]="RoleType.Lead">Leader only</option>
              <option [value]="RoleType.Follow">Follower only</option>
            </select>
          </div>
          <div class="col-md-3">
            <select [ngClass]="{'bg-primary text-white' : dateStartFilter!=0}"
                    class="form-control" id="dateStartFilter" [(ngModel)]="dateStartFilter" (change)="updateFiltered()">
              <option [value]="0">Since forever</option>
              <ng-container *ngFor="let comp of dataService.data.getValue().competitions">
                <option *ngIf="comp.date <= dateEndFilter" [value]="comp.date">
                  Since {{comp.date | date}}, {{comp.name}}
                </option>
              </ng-container>
            </select>
          </div>
          <div class="col-md-3">
            <select [ngClass]="{'bg-primary text-white' : dateEndFilter!=now}"
                    class="form-control" id="dateEndFilter" [(ngModel)]="dateEndFilter" (change)="updateFiltered()">
              <option [value]="now">Until today</option>
              <ng-container *ngFor="let comp of dataService.data.getValue().competitions">
                <option *ngIf="comp.date >= dateStartFilter" [value]="comp.date">
                  Until {{comp.date | date}}, {{comp.name}}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="groupByFilter == -1">
    <div class="col-md-6">
      <app-competitors-panel-component
        [panelName]="'All'"
        [danceEvents]="AllDances"
        [comparingDate]="dateEndFilter"
        [roleFilter]="roleFilter">
      </app-competitors-panel-component>
    </div>
  </ng-container>
  <ng-container *ngIf="groupByFilter == 0">
    <ng-container *ngFor="let styles of PerStyles">
      <div class="col-md-6">
        <app-competitors-panel-component
          [panelName]="StyleTypes[styles.style]"
          [danceEvents]="styles.dances"
          [comparingDate]="dateEndFilter"
          [roleFilter]="roleFilter">
        </app-competitors-panel-component>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="groupByFilter == 1">
    <ng-container *ngFor="let dance of PerDance">
      <div class="col-md-6">
        <app-competitors-panel-component
          [panelName]="StyleTypes[dance.style]+': '+DanceTypes[dance.dance]"
          [danceEvents]="dance.dances"
          [short]="true"
          [comparingDate]="dateEndFilter"
          [roleFilter]="roleFilter">
        </app-competitors-panel-component>
      </div>
    </ng-container>
  </ng-container>
</app-frame>
