<app-frame>
  <div class="col-md-6" *ngIf="dataService.summary.value.Rhythm">
    <style-panel [styleSummary]="dataService.summary.value.Rhythm"></style-panel>
  </div>
  <div class="col-md-6" *ngIf="dataService.summary.value.Latin">
    <style-panel [styleSummary]="dataService.summary.value.Latin"></style-panel>
  </div>
  <div class="col-md-6" *ngIf="dataService.summary.value.Smooth">
    <style-panel [styleSummary]="dataService.summary.value.Smooth"></style-panel>
  </div>
  <div class="col-md-6" *ngIf="dataService.summary.value.Standard">
    <style-panel [styleSummary]="dataService.summary.value.Standard"></style-panel>
  </div>

</app-frame>
