<app-frame>
  <div class="col-md-6" *ngIf="dataService.data.value.summary.Rhythm">
    <app-style-panel-component [styleSummary]="dataService.data.value.summary.Rhythm"></app-style-panel-component>
  </div>
  <div class="col-md-6" *ngIf="dataService.data.value.summary.Latin">
    <app-style-panel-component [styleSummary]="dataService.data.value.summary.Latin"></app-style-panel-component>
  </div>
  <div class="col-md-6" *ngIf="dataService.data.value.summary.Smooth">
    <app-style-panel-component [styleSummary]="dataService.data.value.summary.Smooth"></app-style-panel-component>
  </div>
  <div class="col-md-6" *ngIf="dataService.data.value.summary.Standard">
    <app-style-panel-component [styleSummary]="dataService.data.value.summary.Standard"></app-style-panel-component>
  </div>

</app-frame>
