.card-header{
  font-weight: bold;
}
app-competition-event {
  margin-top: 3px;
  margin-bottom: 3px;
  display: inherit;
}

a{
  color: #212529;
}

.card-header .badge{
  margin-left: 5px;
}



.card{
  margin-top: 15px;
  margin-bottom: 15px;
}
