.competition-event-container{
  margin-top: 15px;
}



.card{
  margin-top: 15px;
  margin-bottom: 15px;
}

.me{
  font-weight: bold;
}

.dancer {
  color: #212529;
}


.role {
  height: 20px;
}

.placement{
  border-bottom: 1px solid #f8f9fa;
}


.placement:hover{
  background-color: #f8f9fa;
}

