.me {
  font-weight: bold;
}


.circle {
  color:#ffc107;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}


.dancer{
  color: #212529;
}

.oi-ellipses{
  font-size: x-large;
}
