<div class="card">
  <div class="card-header  text-center">
    {{panelName}}
    <div class="float-right">
      <button [ngClass]="{'btn-primary':expand ,'btn-secondary':!expand}" class="btn  btn-sm"
              (click)="toggleExpand($event)">
        <span *ngIf="!expand" class="oi oi-chevron-right"></span>
        <span *ngIf="expand" class="oi oi-chevron-bottom"></span>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div>
      <ng-template #leaderPop>
        Leader
      </ng-template>
      <ng-template #followerPop>
        Follower
      </ng-template>
      <ng-template #mixedPop>
        Follower and Leader
      </ng-template>

      <ng-container *ngFor="let rank of rankings; let i = index">
        <ng-template #rankPop>
          <ng-container *ngIf="isBetter2(rank.score) || isBetter3(rank.score)">
            Watch out, a really good dancer!
          </ng-container>
          <ng-container *ngIf="isBetter1(rank.score)">
            Watch out, a good dancer!
          </ng-container>
          <ng-container *ngIf="isTheSame(rank.score)">
            A dancer with similar skills to yours.
          </ng-container>
          <ng-container *ngIf="isWorst(rank.score)">
            No worries.
          </ng-container>
        </ng-template>
        <div *ngIf="i<maxRender || (i> myRank-maxRender/2 && i<myRank+maxRender/2) || expand">
          <a [ngClass]="{'me':i == myRank}"
             [href]="url(rank.dancer)"
             class="dancer row"
             style="white-space: nowrap">
            <div class="col-1 offset-sm-2">
              <div [tooltip]="rankPop" container="body" class="rank-icon" [style.color]="color(rank.score)"
                   *ngIf="isBetter3(rank.score)" style="transform: scale(1,0.8)">
                <span class="oi oi-chevron-top" style="top:-1px;"></span>
                <span class="oi oi-chevron-top" style="top:7px;"></span>
                <span class="oi oi-chevron-top" style="top:15px;"></span>
              </div>
              <div [tooltip]="rankPop" container="body" class="rank-icon" [style.color]="color(rank.score)"
                   *ngIf="isBetter2(rank.score)">
                <span class="oi oi-chevron-top"></span>
                <span class="oi oi-chevron-top" style="top:9px;"></span>
              </div>
              <span [tooltip]="rankPop" container="body" class="oi oi-chevron-top" [style.color]="color(rank.score)"
                    *ngIf="isBetter1(rank.score)"></span>
              <span class="oi oi-minus" [tooltip]="rankPop" container="body" [style.color]="color(rank.score)"
                    *ngIf="isTheSame(rank.score)"></span>
              <span class="circle" [style.background]="color(rank.score)" [tooltip]="rankPop" container="body"
                    *ngIf="isWorst(rank.score)"></span>
            </div>
            <div class="col">
              <img [tooltip]="leaderPop" container="body" class="role" src="assets/leader.svg"
                   *ngIf="rank.role == RoleType.Lead"/>
              <img [tooltip]="followerPop" container="body" class="role" src="assets/follower.svg"
                   *ngIf="rank.role == RoleType.Follow"/>
              <img [tooltip]="mixedPop" container="body" class="role" src="assets/couple.svg"
                   *ngIf="rank.role == RoleType.Mixed"/>

              {{rank.dancer.firstName}} {{rank.dancer.lastName}}
            </div>
            <div class="col3 text-right">
              <span class="placement-section" *ngIf="i == myRank">- {{placementDescription()}}</span>
            </div>
          </a>
        </div>
        <div class="row" *ngIf="i==maxRender && (myRank-maxRender/2>maxRender) && !expand">
          <div class="col-12 text-center">
            <span class="oi oi-ellipses" (click)="toggleExpand($event)"></span>
          </div>
        </div>
        <div class="row" *ngIf="i==myRank+maxRender/2 && !expand">
          <div class="col-12 text-center">
            <span class="oi oi-ellipses" (click)="toggleExpand($event)"></span>
          </div>
        </div>

        <div class="row"
             *ngIf="!(myRank<rankings.length-maxRender/2 && !expand) && i==rankings.length-1 && myRank>rankings.length*0.75">
          <div class="col-12 text-center">
            <span class="oi oi-ellipses" (click)="toggleExpand($event)"></span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
