<div [ngClass]="{'finalist' : dance.isFinal}"
     class="row border-{{color()}}">
  <div class="col col-sm-12 col-lg-5">
    <div class="row">
      <ng-template #placementPop>
        Placement: <strong>{{dance.placement}}</strong> out of <strong>{{dance.coupleCount}}</strong> couples. <br/>
        This is better then <strong>{{percent()}}%</strong> of the couples.
      </ng-template>
      <div class="col col-sm-4 col-md-4 text-center clickable"
           (click)="pointPresentation.emit()" [tooltip]="placementPop" container="body" style="white-space: nowrap">
        <mwl-gauge
          class="mwl-gauge-{{color()}} {{color()}}"
          [max]="100"
          [dialStartAngle]="-90"
          [dialEndAngle]="-90.001"

          [showValue]="false"
          [value]="percent()"
          [animated]="false">
        </mwl-gauge>
        <ng-container *ngIf="showPercentage">
          {{percent()}}%
        </ng-container>
        <ng-container *ngIf="!showPercentage">
          <strong>{{dance.placement}}</strong>/{{dance.coupleCount}}
        </ng-container>
      </div>

      <div
        [ngClass]="[dance.isFinal? 'bg-'+color():'border-side-'+color()]"
        class="col col-sm-4 col-md-4 text-center">
        {{EventSkillTypes[dance.eventSkill]}}
      </div>
      <div class="col col-sm-4 col-md-4 text-center">
        {{StyleTypes[dance.style]}}
      </div>
    </div>
  </div>
  <div class="col col-sm-12 col-lg-5 text-center" style="white-space: nowrap"
       [routerLink]="['/event']"
       [queryParams]="{
        compCode:dance.compCode,
        heatid:dance.heatid,
        firstName:dataService.data.value.dancerName.firstName,
        lastName:dataService.data.value.dancerName.lastName}"
  >
    <ng-container *ngFor="let d of dance.dances; let i=index">
      <ng-container *ngIf="i>0">/</ng-container>
      {{DanceTypes[d]}}
    </ng-container>
  </div>

  <div class="col  col-lg-1 text-center " style="white-space: nowrap">
    <a class="partner" [href]="url()"> <span class="oi oi-person"></span> {{dance.partner.firstName}}</a>
  </div>
  <div class="col  col-lg-1 text-right" style="white-space: nowrap">
    <ng-container *ngIf="dance.point.value>0">
      <span class="badge bg-{{color()}}" *ngIf="!noPointReason" title="points">+{{dance.point.value}}</span>

      <ng-template #noPoint>
        This competition doesn't give points because: <br/>
        <strong>{{noPointReason}}</strong>
      </ng-template>
      <span class="oi oi-warning text-{{color()}}" *ngIf="noPointReason" [tooltip]="noPoint" container="body"></span>

    </ng-container>
    <ng-template #pointWarning>
      Point calculations might incorrect, because: <br/>
      <strong>{{pointWarningStr()}}</strong>
    </ng-template>
    <span class="oi oi-warning text-{{color()}}" *ngIf="dance.point.warning" [tooltip]="pointWarning"
          container="body"></span>

    <span *ngIf="dance.isFinal" title="being in finals" class="oi oi-badge  text-{{color()}}"></span>
  </div>
</div>
