<div class="card">
  <div class="card-header  text-center">
    {{StyleTypes[styleSummary.style]}}

  </div>
  <div class="card-body">
    <div class="entry-container" *ngFor="let dance of styleSummary.dances">
      <app-style-panel-entry-component [eventSummary]="latestEvent(dance.entries)"
                         [danceType]="dance.dance"
                         (showSubEntries)="dance.showDetails =!dance.showDetails"
                         [mainEntry]="restEvents(dance.entries).length>0"
                         [styleType]="styleSummary.style"
                         class="main-entry">

      </app-style-panel-entry-component>
      <div class="sub-entry" *ngIf="dance.showDetails">
        <ng-container *ngFor="let entry of restEvents(dance.entries)">
          <app-style-panel-entry-component [eventSummary]="entry"
                             [mainEntry]="false"
                             [danceType]="dance.dance"
                             [styleType]="styleSummary.style">

          </app-style-panel-entry-component>
        </ng-container>
      </div>
    </div>
  </div>
</div>
