.sub-entry {
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
}


.entry-container{
  margin-top: 3px;
  margin-bottom: 3px;
}

.card-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-header{
  font-weight: bold;
}
